* {
    margin: 0;
    padding: 0;
    background-color: #1e202b; 
}

.menu {
    height: 20vh;
    border: 2px solid red;
}

div .menus{
    margin-top: 15%;
    border: 2px solid red;
    display: flex;
}

#grow{
    color: white;
    text-decoration: none;
}

.menubar {
    border-radius: ;
    border-color: blue;
}