* {
    margin: 0;
    padding: 0;
    background-color: #1e202b; 
}

.menu {
    height: 10vh;
}

.menus ul {
    display: flex;
    float: right;
    padding-top: 2%;
    margin-right: 2%;
    list-style-type: none;
}

.menubar {
    padding-left: 4rem;  
}

.searchbar .photo {
    background-image: url("icons/coconut.jpg");
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 100%;
}


.searchbar .find {
    width: 80%;
    margin: auto;
    margin-top: -18%;
    border-radius: 20px;
    
}

#finder {
    width: 80%;
    margin: auto;
    padding: 1.5%;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #1e202b;
}

#findo {
    background-color: #009ad8;
    border-radius: 26px;
    padding: 12px 28px;
    color: white;
    outline: none;
    border: none;
    float: right;
    margin-right: 5px;
}
