* {
    margin: 0;
    padding: 0;
    background-color: #1e202b; 
}

.menu {
    height: 10vh;
    border: 2px solid red;
}

.menus ul {
    display: flex;
    float: right;
    padding-top: 2%;
    margin-right: 2%;
    list-style-type: none;
}

.menubar {
    padding-left: 4rem;
}

.searchbar .photo{
    background-image: url("icons/aerial-photo-of-mountain-surrounded-by-fog-733174.jpg");
    background-position: center;
    background-repeat: none;

}
